<div class="row">
    <h2 class="my-2">
        Of Operator
    </h2>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">User-1</div>
            <div class="card-body">
                <ul id="elContainer">
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">User-2</div>
            <div class="card-body">
                <ul id="elContainer2">
                </ul>
            </div>
        </div>
    </div>
</div>

