<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="from">fromEvent</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of">of</a>
            </li>
            <li>
                <a routerLink="from-ope">from-operator</a>
            </li>
            <li>
                <a routerLink="from-ope">toArray operator</a>
            </li>
            <li>
                <a routerLink="custom">Custom Observables</a>
            </li>
            <li>
                <a routerLink="map">Map Operator</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck Operator</a>
            </li>
            <li>
                <a routerLink="filter">Filter Operator</a>
            </li>  
            <li>
                <a routerLink="tap">Tap Operator</a>
            </li>
            <li>
                <a routerLink="take">take, takeLast, takeUntil Operator</a>
            </li>
            <li>
                <a routerLink="retry">Retry Operator</a>
            </li>
            <li>
                <a routerLink="debounce">Debounce Operator</a>
            </li>
            <li>
                <a routerLink="subject">Subject & Behavior Subject</a>
            </li>

        </ul>
    </div>
</div>