ul.techList {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
        background: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 7px 13px;
        margin-bottom: 10px;
    }
} 
ul.techList.error li{
    color: red;
    background: rgba(255, 0,0, 0.08);
    border-color: red;
}
ul.techList.completed li{
    color: green;
    border: 4px solid green;
}

  